@model sakila.Models.Inventory

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Inventory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LastUpdate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastUpdate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Film)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Film.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Store)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Store.StoreId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.InventoryId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
